*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    grid-area: header;
    color: white;
    font-family: "Josefin Sans", sans-serif;
    background-color: rgb(255, 157, 225) ;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    grid-area: main;
    background-color: rgb(255, 216, 243);
    display: flex;
    justify-content: center;
    align-items: center;
}

aside{
    grid-area: aside;
    background-color: rgb(255, 198, 241);
    display: flex;
    justify-content: center;
    text-align: center;
}

footer{
    grid-area: footer;
    color: white;
    font-family: "Josefin Sans", sans-serif;
    background-color: rgb(255, 157, 225) ;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*grilla pagina*/

.contenedorPagina{
    display: grid;
    grid-template-areas: 
    "header header" 
    "aside main"  
    "footer footer";
    grid-template-rows: 10% 1fr 5%;
    grid-template-columns: 15% 1fr;
}

/* Categorias aside*/
.contenedorCategoria{
    color:#fff;
    font-family: "Josefin Sans", sans-serif;
    display: flex;
    flex-direction: column;
}

.titulo{
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
}

.Categorias li {
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    display: flex;
    align-items: center;
    gap: 15px;
}

.Categorias li a {
    text-decoration: none;
    color: #fff;
}

/*tarjetas*/
.contenedor{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    column-gap: 20px;
    width: 80%;
    height: 100%;
    justify-items: center; 
    justify-content: center;
    align-items: center;
    border-top: 20px solid transparent;   /* separación arriba contra el Header */
    border-bottom: 20px solid transparent; /* separación abajo contra el bottom */
    
}

.card{
  width: 250px;
  height: 350px;         
  display: flex;
  flex-direction: column; 
  overflow: hidden;         
  background-color: #fff;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
  font-family: "Josefin Sans", sans-serif;  
}
.card img{ 
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.card button{
    background-color: rgb(140, 167, 255);
    width: 100%;
    height: 15%;
    border: 0px;
}
.card button a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-decoration: solid;
} 


